@model EntidadesSOL.tipoPrioridade

@{
    ViewBag.Title = "SMSAPP";
}

<div class="row">
    <div class="col-md-12 text-left">
        <h4>Tipo de Prioridade</h4>
        @Html.ActionLink(" ", "Index", null, new { @class = "btn btn-default glyphicon glyphicon-hand-left", @title = "Voltar para lista" })
        @Html.ActionLink(" ", "Edit", new { id = Model.idtTipoPrioridade }, new { @class = "btn btn-default glyphicon glyphicon-edit", @title = "Editar Tipo de Prioridade" })
    </div>
</div>
<hr />

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ativo)
        </dd>

    </dl>
</div>
