@model EntidadesDAL.tipoGenero

@{
    ViewBag.Title = "SMSAPP";
}

<div class="row">
    <div class="col-md-12 text-left">
        <h4>Gêneros</h4>
        @Html.ActionLink(" ", "Index", null, new { @class = "btn btn-default glyphicon glyphicon-hand-left", @title = "Voltar para lista" })
        @Html.ActionLink(" ", "Edit", new { id = Model.idGenero }, new { @class = "btn btn-default glyphicon glyphicon-edit", @title = "Editar genêro" })
    </div>
</div>
<hr />

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tipo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idGenero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ativo)
        </dd>

    </dl>
</div>

