@model IEnumerable<EntidadesDAL.acesso>

@{
    ViewBag.Title = "Acessos";
    string[,] perfil = (string[,])Session["ULPR"];
}

<div class="row">
    <div class="col-md-12 text-left">
        <h4>Acessos</h4>
        @Html.ActionLink(" ", "Create", null, new { @class = "btn btn-default glyphicon glyphicon-file", @title = "Novo Acesso" })
        @*@Html.ActionLink(" ", "ExportP", null, new { @class = "btn btn-default glyphicon glyphicon-print", @title = "Imprimir para PDF" })*@
    </div>
</div>
<br />


    <table class="table table-condensed table-striped" style="width:100%;">
        <tr>

            <th>
                @Html.DisplayName("E-mail")
            </th>

            <th>
                @Html.DisplayName("CPF")
            </th>

            <th>
                @Html.DisplayName("Nome")
            </th>
            <th>
                @Html.DisplayName("Sobrenome")
            </th>
            <th>
                @Html.DisplayName("Grupo")
            </th>
            <th>
                @Html.DisplayName("Ativo?")
            </th>
            <th>Ações</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.cpf)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.acessoGrupo.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ativo)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.idLogin }, new { @class = "btn btn-default btn-xs glyphicon glyphicon-edit", @title = "Editar Acesso" })
                    @Html.ActionLink(" ", "Details", new { id = item.idLogin }, new { @class = "btn btn-default btn-xs glyphicon glyphicon-list-alt", @title = "Detalhes da Acesso" })
                </td>
            </tr>
        }

    </table>
