@model EntidadesDAL.controle

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-12 text-left">
        <h4>Controles</h4>
        @Html.ActionLink(" ", "Index", null, new { @class = "btn btn-default glyphicon glyphicon-hand-left", @title = "Voltar para lista" })
        @Html.ActionLink(" ", "Edit", new { id = Model.idControle }, new { @class = "btn btn-default glyphicon glyphicon-edit", @title = "Editar campanha" })
    </div>
</div>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.priSms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priSms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.segSms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segSms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.terSms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.terSms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quaSms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quaSms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quiSms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quiSms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aCada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aCada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.envioAuto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.envioAuto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.whatsapp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.whatsapp)
        </dd>
    </dl>
</div>

