@model SMSAPP.ViewModels.PesquisaDTVM

@{
    ViewBag.Title = "CSU";
}

<div class="row">
    <div class="col-md-12 text-left">
        <h4>SMS Relatórios</h4>
        <h5>Consulte o saldo de seus usuários</h5>
    </div>
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.usuario, "Número da Conta", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="radio col-md-10">
                @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return SomenteNumero(event)" } })
                @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gerar Relatório" class="btn btn-primary" onclick="JavascriptFunction();" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function SomenteNumero(e) {
            var tecla = (window.event) ? event.keyCode : e.which;
            if ((tecla > 47 && tecla < 58)) return true;
            else {
                if (tecla == 8 || tecla == 0) return true;
                else return false;
            }
        }
    </script>
}





